[submodule "JContainers"]
	path = JContainers
	url = https://github.com/SilverIce/JContainers
[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
